:root {
    --dark-color: rgb(54, 56, 60);
    --dhim-color: rgb(141, 143, 147);
}

#root {
    display: grid;
    grid-template-rows: 15vh 1fr;
    align-items: start;
    justify-content: center;
    min-height: 100vh;
    min-height: 100svh;
    min-width: 70vw;
    min-width: 70svw;
    padding-block-start: 2rem;
}

.header {
    text-align: center;
}

.main {
    width: clamp(10rem, 70vw, 55rem);
}

.loading {
    font-size: 2rem;
    text-align: center;
    width: clamp(10rem, 70vw, 55rem);
}

.progress {
    --height: 0.5rem;
    --radius: 0.5rem;
    width: 100%;
    height: var(--height);
    background-color: var(--dark-color);
    border-radius: var(--radius);
    margin-block-end: 3rem;
    position: relative;
}

.progress-fill {
    --fill-color: orangered;

    height: var(--height);
    background-color: var(--fill-color);
    box-shadow: 0 0 11px 2.5px var(--fill-color);
    border-radius: inherit;

    transition: width 500ms ease;
}

.progress::after {
    content: attr(data-value) ' / ' attr(data-max);
    position: absolute;
    font-size: 1.5em;
    top: 120%;
    left: 0;
    color: var(--dhim-color);
}

.question {
    font-size: clamp(2rem, 6vw, 3.3rem);
}

.options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block-start: 2rem;
}

.options-item,
.btn {
    font-size: clamp(1.2rem, 1.8vw, 1.5rem);
    border: 1.5px solid var(--dark-color);
    padding: clamp(1rem, 1.5vw, 1.4rem) 2rem;
    cursor: pointer;
    border-radius: 100vw;
    outline: none;
    background-color: transparent;
    color: var(--color);

    transition: background-color 200ms ease;
}

.options-item {
    text-align: left;
}

.options-item:disabled {
    opacity: 0.6;
    cursor: no-drop;
}

.options-item:not(:disabled):hover {
    background-color: var(--dark-color);
}

.selected {
    background-color: var(--dark-color);
}


.btn:hover {
    background-color: transparent;
}

.btn,
.timer:hover {
    background-color: var(--dark-color);
}

.shoeser {
    display: flex;
    justify-content: space-between;
    margin-block-start: 2rem;
}

.result {
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.obtained {
    font-weight: bold;
    font-size: 2em;
    color: orangered;
}

.danger {
    color: orangered;
}

.timer {
    font-family: monospace;
    cursor: default;
}

.reset {
    display: grid;
    place-content: center;
    margin-block-start: 2rem;
}