:root {
	font-family: Inter, system-ui;
	line-height: 1.5;
	font-size: 11.25px;
	font-weight: 400;

	color-scheme: dark;
	--color: rgba(255, 255, 255, 0.87);
	color: var(--color);
	background-color: #1b1b1b;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1 {
	font-size: 4.2rem;
	line-height: 1.1;
}